#video-pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#header-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 101%;
    min-width: 101%;
    width: auto;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    align-items: center;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    margin-left: 2rem;
    font-size: 1rem;
    color: rgba(0, 187, 255, 1.0);
    font-weight: 300;
}

#welcome-section {
    margin: 0 0 5rem 0;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    max-width: 600px;
}

#welcome-section p {
    font-size: 1.2rem;
    margin: 3rem 0 3rem 0;
}

#news-section {
    margin: 5rem 0 5rem 0;
}

#news-list {
    background: #000;
    margin: 5rem 0 0 0;
    padding-top: 1px;
}

#news-section .flex-row > div {
    height: 200px;
    max-height: 200px;
}

#news-list .flex-row > div {
    height: 250px;
    max-height: 250px;
}

#news-section .flex-row > div {
    outline: 1px solid rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 187, 255, 1.0);
    box-shadow: inset 0 0 0 1px rgba(0, 187, 255, .1);
}

#news-section .flex-row > div:hover {
    border: 1px solid rgb(255, 179, 0);
    box-shadow: inset 0 0 0 1px rgba(255, 179, 0, .1);
    cursor: pointer;
}

.front-section {
    position: relative;
    overflow: hidden;
    margin: 5px 0;
    padding: 4rem 0;
}

p {
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.news-section {
    background: #140c09;
    box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, .2);
    padding: 1rem 0 1rem 0;
    margin: 5px 0;
}

.news-section:hover {
    background: #241510;
}

.news-section .floater {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 2rem;
}

.news-section .bg-img {
    width: 100%;
    height: 150px;
    max-width: 250px;
    max-height: 150px;
    overflow: hidden;
    z-index: 1;
    outline: 1px solid rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 187, 255, 1.0);
    box-shadow: inset 0 0 0 1px rgba(0, 187, 255, .1);
}

.front-section-a, .front-section-b {
    height: 400px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2);
}

.front-section-b .floater {
    text-align: right;
}

.front-section-b p, .front-section-b h1 {
    text-align: right;
}