@charset "UTF-8";
@import "clean", "default", "grid";
@import "article";

#video-pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#header-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

#welcome-section {
    text-shadow: 1px 1px 2px pink;
}

#news-section {
    display: flex;
    flex-basis: 25%;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.col-1  { flex-basis:   8.33% }
.col-2  { flex-basis:  16.66% }
.col-3  { flex-basis:  25%    }
.col-4  { flex-basis:  33.33% }
.col-5  { flex-basis:  41.66% }
.col-6  { flex-basis:  50%    }
.col-7  { flex-basis:  58.33% }
.col-8  { flex-basis:  66.66% }
.col-9  { flex-basis:  75%    }
.col-10 { flex-basis:  83.33% }
.col-11 { flex-basis:  91.66% }
.col-12 { flex-basis: 100%    }